.header-root {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.title-container {
    display: flex;
    justify-self: center;
    align-self: center;
}

.show-on-start-container {
    padding-right: 20px;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;

}