.document-root {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

.document-render {
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
}

.actions-root {
    display: flex;
    justify-content: end;
    margin: 10px 20px;
}